root = true

[*.cs]
dotnet_diagnostic.ATELIER0200.severity = none
dotnet_diagnostic.ATELIER1503.severity = none
dotnet_diagnostic.ATELIER1000.severity = none
dotnet_diagnostic.ATE1002.severity = none
